<html>

    <head>
        <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-messaging.js"></script>
        <script>
            function requestPermission() {
                console.log('Requesting permission...');
                Notification.requestPermission().then((permission) => {
                  if (permission === 'granted') {
                    console.log('Notification permission granted.');
                  }})}
        </script>

        <script type="module">
            // Import the functions you need from the SDKs you need
            import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-messaging.js";
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-app.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-analytics.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
          
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            const firebaseConfig = {
              apiKey: "AIzaSyC-6bZPkSILcGberTGlqOAX7tiow8K6Mxw",
              authDomain: "sopdev-86855.firebaseapp.com",
              databaseURL: "https://sopdev-86855-default-rtdb.asia-southeast1.firebasedatabase.app",
              projectId: "sopdev-86855",
              storageBucket: "sopdev-86855.appspot.com",
              messagingSenderId: "280112674639",
              appId: "1:280112674639:web:bfce500fbf7a60f28db73a",
              measurementId: "G-DKZSNDP153"
            };
          
            // Initialize Firebase
            const app = initializeApp(firebaseConfig);

            const analytics = getAnalytics(app);


            const messaging = getMessaging();
            getToken(messaging, { vapidKey: 'BF-J-QC_Y47DNKvSe-g8sOR1uvVwBxokPN3bhWCBxfQ0v-pyI4hpvHALpY3QL-pGZVxe6gIeZ1hpB3_9iys1SIk' }).then((currentToken) => {
                if (currentToken) {
                    console.log(currentToken);
                  // Send the token to your server and update the UI if necessary
                  // ...
                } else {
                  // Show permission request UI
                  console.log('No registration token available. Request permission to generate one.');
                  // ...
                }
              }).catch((err) => {
                console.log('An error occurred while retrieving token. ', err);
                // ...
              });
              
          </script>

          


    </head>

    <body>

        sdwafsdgfd


    </body>

</html>